@import url(https://fonts.googleapis.com/css?family=Bitter);

body {
  font-family: 'Bitter', serif;
  margin: 0;
}

.main {
  margin: 0;
  padding: 0;
}

.header {
  padding: 0 30px 30px 30px;
  background-image: url("https://s30.postimg.org/ax4mfvj4h/image.png");
  background-size: cover;
  background-color: black;
}

.navbar {
  text-align: center;
  padding-top: 20px;
  background-color: transparent;
  border: 0;
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 0 20px;
}

.navbar ul li a {
  color: #f2f2f2;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #0d3e60;
}

.brand {
  text-align: center;
  margin-top: 180px;
}

.brand img {
  padding: 0 10px;
}

.social-nav {
  text-align: center;
}

.social-nav li {
  display: inline;
  font-size: 40px;
  margin: 0 20px;
}

.social-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

.social-nav a:hover {
  color: #0d3e60;
}

.record {
  text-align: center;
  margin: 100px 0;
}

.record span {
  color: #f2f2f2;
  font-size: 18px;
}

#about {
  padding: 20px;
  text-align: center;
}

#about h2 {
  margin-bottom: 30px;
}

p#about-content {
  font-size: 20px;
}

#work-button i {
  font-size: 40px;
  margin-right: 10px;
}

#work-button a {
  color: #156499;
  text-decoration: none;
}

#work-button a:hover {
  color: #0d3e60;
}

#portfolio {
  padding: 0 100px;
  background-color: #f5f5f5;
}

.inner {
  background-color: #fff;
  padding: 10px;
  border-radius: 0;
  border: 0;
  box-shadow: 10px 10px 0px -2px rgba(0, 0, 0, 0.34);
}

#contact {
  padding: 0 100px;
  background-image: url("https://s22.postimg.org/est8ejx41/8vu_KEJk.jpg");
  background-position: center;
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#contact p {
  font-size: 20px;
  color: #fff;
}

#contact div {
  margin: 50px 0;
}

.contact-ad {
  text-align: center;
}
